<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/sonora_styles.css' + get_hashed_filename('css/main.css')) }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sonora_styles.css') }}">
    <title>Sonora - Home</title>
</head>
<body>
    <div class="head">
        <a href="/home" style="text-decoration: none;">
            <header class="maintopbar">Sonora</header>
        </a>
    </div>
    <aside class="sidebar">
        <h3>Menu</h3>
      <nav class="menu">
        <a href="/home" class="menu-item-is-active">Home</a>
        <a href="/my-playlists" class="menu-item">My Playlists</a>
      </nav>
    </aside>
    <div class="menu-toggle">
        <div class="hamburger">
          <span></span>
        </div>
      </div>
    <div class="window">
        <div id="root"></div>
        <!-- <script src="{{ url_for('static', filename='js/sonora_javas.js' + get_hashed_filename('js/main.js')) }}"></script> -->
        <script src="{{ url_for('static', filename='js/sonora_javas.js') }}"></script>
        <div>
            <div class="left">
                <div class="button1">
                    <h4 href="/home">Home</h4>
                </div>
                <div class="button1">
                    <h4>Search</h4>
                </div>
            </div>
            <div class="right">
                <div>
                    <br>
                    <a href='/my-playlists' class="button1">View My Playlists</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        const menu_toggle = document.querySelector('.menu-toggle')
        const sidebar = document.querySelector('.sidebar')
    
        menu_toggle.addEventListener('click', () => {
          menu_toggle.classList.toggle('is-active');
          sidebar.classList.toggle('is-active');
        })
      </script>
</body>
</html>
